{% extends 'base.html.twig' %} 

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container">
    <h2>Connexion</h2>
        {% if error %}
        <div class="alert alert-danger">Mauvais identifiants</div>
        {% endif %}
        <form method="post" action="{{ path('login') }}">
            <label>Pseudo</label>
            <input type="text" class="form-control" required name="_username" placeholder="Pseudo">
            <label>Mot de passe</label>
            <input type="password" class="form-control" required name="_password" placeholder="Mot de passe">
            <button type="submit" class="btn btn-success mt-2">Connexion</button>
        </form>
</div>
{% endblock %}