 button.navbar-toggler {
    outline: none;
  }

  button.btn a {
    color:white;
  }

  html, body {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  body {
    display: flex;
    flex-direction: column;
  }

  footer {
    color: white;
    font-weight: bold;
    margin-top: auto;
  }

  h1 {
    text-align: center;
    color: white;
    font-family: 'Roboto';
  }

  .content {
    background-color: black;
  }

  .poster-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .poster-grid a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: 'Roboto';
    display: block;
    margin: 0 5px;
    width: 200px;
  }

  .poster-grid img:hover {
    opacity: 0.7;
  }

  .poster-grid img {
    height: 250px;
  }

  .media {
    background-color: black;
  }

  .media img {
    height: 30em;
  }

  .media-content {
    color: #ffffff;
  }

  .acteur img:hover {
    opacity: 0.9;
  }

  .acteur img {
    height: 18em;
  }

  .review {
    border-top: 1px solid #d7d7d7;
  }

  .acteur a p {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    text-align: center;
  }

  .acteur a:hover {
    text-decoration: none;
  }

  .poster img {
    height: 20em;
  }

  .poster img:hover {
    opacity: 0.9;
  }

  .poster-list img {
    height: 15em;
  }

  .collapse a.nav-link {
    color: rgba(255,255,255,0.5);
  }

  .collapse a.nav-link:hover {
    color: white;
  }

  .list p {
    color: black;
  }

  .carousel1, .carousel2 {
    background: rgba(0,0,0,0.1);
  }
  
  .carousel-cell {
    width: 25%;
    height: 350px;
    margin-right: 10px;
    counter-increment: gallery-cell;
  }

  .carousel-cell img {
    height: 350px;
  }

  .carousel-cell img:hover {
    opacity: 0.7;
  }

 .title-index {
   color: white;
   font-weight: bold;
 }

 .jumbotron {
   background-image: url("../img/background.jpg");
   background-repeat: no-repeat;
 }

 .jumbotron p {
   color: white;
 }

 .title-next {
  background: linear-gradient(to right, #34113F, white);  
  width: 100%;
  border-top-right-radius: 90%;
 }

 .title-next h2 {
   padding: 1%;
   color: white;
 }

