 button.navbar-toggler {
    outline: none;
  }

  button.btn a {
    color:white;
  }

  html, body {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 54px - 54px);
  }

  footer {
    color: white;
    font-weight: bold;
    margin-top: auto;
  }

  h1 {
    text-align: center;
    color: white;
    font-family: 'Roboto';
  }

  .content {
    background-color: black;
  }

  .poster-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .poster-grid a {
    text-decoration: none;
    color: white;
    text-align: center;
    font-family: 'Roboto';
    display: block;
    margin: 0 5px;
    width: 200px;
  }

  .poster-grid img:hover {
    opacity: 0.7;
  }

  .poster-grid img {
    height: 250px;
  }

  .media {
    height: 40em;
    background-color: black;
    padding-top: 1.5em;
  }

  .media img {
    height: 30em;
    padding-left: 20%;
    margin-bottom: 1.5em;
  }

  .media-content {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 40%;
    box-sizing: border-box;
    padding-left: 2.5em;
    color: #ffffff;
  }

  .media-content p {
    padding-top: 1em;
  }

  .media-description {
    height: 35em;
  }

  .acteur img:hover {
    transition: 400ms;
    transform: scale(1.02);
  }

  .acteur img {
    height: 18em;
  }

  .acteur a p {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    text-align: center;
  }

  .acteur a:hover {
    text-decoration: none;
  }