{% extends 'base.html.twig' %}

{% block body %}
<h1>Bievenue</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae saepe cupiditate ullam
  quos voluptate ipsam, harum ipsum ad ex obcaecati voluptates iusto asperiores reiciendis rem facilis sed unde quia,
  quas voluptas nam voluptatem deserunt, doloribus sunt commodi. Debitis blanditiis, consequuntur!</p>
<p>Possimus soluta laudantium laborum neque perferendis facere quidem nostrum ipsum sint beatae. Veniam, ipsam fugiat.
  Nisi illum quo recusandae adipisci quisquam nam voluptas, expedita nemo modi culpa, veniam, architecto? Voluptatibus veniam alias corrupti
  maxime sapiente enim mollitia atque impedit laudantium.</p>
{% endblock %}
