{% extends 'base.html.twig' %}

{% block title %}Films & Séries{% endblock %}

{% block body %}
<div class="content p-2">
  <div class="container-fluid">
    <h1>Médias</h1>
    <div class="poster-grid">
      {% for media in medias %}
        <a href="{{ path('movies_show', {'title': media.title}) }}"><img src="{{ media.poster }}" alt="affiche">
          <p>{{ media.title }}</p>
        </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
