{% extends 'base.html.twig' %}

{% block title %}Hello MoviesController!{% endblock %}

{% block body %}

<section class="films">

  {% for media in medias %}
    <div class="film">
      <div class="content">
        <a href="{{ path('movies_show', {'title': media.title}) }}"><img src="{{ media.poster }}" alt="">
          <h3>{{ media.title }}</h3>
        </a>
      </div>
    </div>
  {% endfor %}

</section>

{% endblock %}
