{% extends 'base.html.twig' %}
{% block stylesheets %}

{% endblock %}
{% block body %}
    <div class="film">
      <h2>{{ media.title }}</h2>
      <div class="content">
        <img src="{{ media.poster }}" alt="">
        <hr>
        {{ media.synopsis | raw }}
      </div>
    </div>
{% endblock %}
