{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container">
    <h2>Bienvenue sur Watching Medias, votre base de données de Films et Séries!</h2>
    <h2>Prochainement...</h2>
   
         <div class="carousel" data-flickity='{ "groupCells": true }'>
            {% for media in medias %}
            <div class="carousel-cell">
                <a href="{{ path('medias.show', {'id': media.id}) }}"><img src="{{ media.poster }}" alt="affiche">
                </a>
            </div>
            {% endfor %}
        </div></br></br>

        <h2>Récemment sorti</h2>
       <div class="carousel" data-flickity='{ "groupCells": true }'>
                {% for lmedia  in last %}
                <div class="carousel-cell">
                    <a href="{{ path('medias.show', {'id': lmedia.id}) }}"><img src="{{ lmedia.poster }}" alt="affiche">
                    </a>
                </div>
                {% endfor %}
            </div><br/><br/>
</div>
{% endblock %}